$base-body-color: #fff;
$overlay-bg: #272430;
$layout-width: 1100px;
$footer-h: 50px;
$btn-h: 30px;
$text-shadow: rgba(0,0,0,.46);
$btn-shadow: #ebc52c;
$green: #00fe48;
$blue: #00f4fd;
$yellow: #eeb939;
$light-blue: #d5fcff;
$orange: rgb(255,84,0);
$light-gray: rgb(175, 175, 175);
$input-container-w: 315px;
$input-container-h: 39px;
$form-field-bg: rgb(23, 26, 29);
$border-form: #1d7279;
$content-frame: #353b40;
$registration-form-width: 500px;
$registration-form-height: 376px;

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: $base-body-color;
  width: 100%;
  background: transparent url(../images/bg.jpg) 0 0 repeat;
  min-width: $layout-width;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
  font: {
    family: "Roboto", sans-serif;
  }
  overflow-y: hidden;
}

header {
  padding-top: 20px;
  @include border-box;
  padding-bottom: 10px;
}

h1 {
  @extend %text-overflow;
  margin: 0 !important;
  font:
  {
    size: 30px !important;
    weight: 300;
  }
  color: $blue;
  text-transform: uppercase;
}

h2 {
  margin: 0 !important;
}

.window-overlay {
  z-index: 50;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $overlay-bg;
  background: rgba($overlay-bg,.6);
  &.active {
    display: block;
  }
}

.layout-center-wrapper {
  width: $layout-width;
  margin: 0 auto;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

footer {
  @include border-box();
  padding-top: 20px;
  @include size(100%,$footer-h);
  min-width: $layout-width;
  h2 {
    @extend %text-overflow;
    font:
    {
      size: 14px;
      weight: 300;
    }
    color: $green;
    text-transform: uppercase;
  }
  &.fixed {
    position: fixed;
    bottom: 0;
  }
}

.blur {
  @include blur(5);
}

.error-logo {
  background: transparent url(../images/error-404.png) 0 0 no-repeat;
  @include size(305px,150px);
  margin: 150px auto 40px;
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  &:hover {
    @include box-shadow(0 0 10px 5px $btn-shadow,inset 0 -8px 13px rgba(255,255,255,.37), inset 0 0 5px rgba(255,255,255,.3));
  }
  position: relative;
  z-index: 4;
  height: $btn-h;
  line-height: $btn-h;
  font: {
    family: "Roboto", sans-serif;
    size: 16px;
    weight: bold;
  }
  text:
  {
    align: center;
    transform: uppercase;
    decoration: none;
  }
  @include border-box;
  margin: 0 auto 20px;
  color: $base-body-color;
  @include text-shadow(0 2px 0 $text-shadow);
  background: #eeb939;
  @include box-shadow(0 0 7px 1px rgba(0,0,0,0.5), inset 0 -8px 13px rgba(255,255,255,.37), inset 0 0 5px rgba(255,255,255,.3));
  @include linear-gradient(#eeb939, #e89b24 50%, #eaa445);
  @include border-radius(3px);
  &.to-main {
    margin-bottom: 100px;
  }
}

nav {
  margin-top: 10px;
  display: table;
  width: 100%;
}

.main-auth-menu {
  display: table;
  text-align: center;
  width: 100%;
  font: {
    family: "Roboto", sans-serif;
    size: 12px;
    weight: bold;
  }
  li {
    width: 50%;
    height: 50px;
    display: table-cell;
    background: #000;
    background: rgba(#000, .55);
    a {
      @include border-box();
      height: 35px;
      line-height: 34px;
      border: 1px solid transparent;
      display: inline-block;
      padding-left: 4px;
      padding-right: 8px;
      vertical-align: top;
      margin-top: 7.5px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: $light-blue;
    }
  }
}

input.form-field {
  @include size($input-container-w - 2,$input-container-h - 2);
  margin: 1px auto 0;
  background: $form-field-bg;
  @include border-box();
  @include placeholder($light-gray);
  line-height: $input-container-h - 1;
  color: $light-gray;
  font: {
    weight: 300;
    size: 12px;
  }
  text: {
    transform: uppercase;
  }
  line-height: normal;
  position: relative;
  z-index: 2;
  padding: 0 30px 0 10px;
  letter-spacing: 0.5px;
}

.input-container {
  margin: 0 auto 30px;
  position: relative;
  @include size($input-container-w,$input-container-h);
  text-align: left;
  @include border-box();
  &:after {
    position: absolute;
    content: "";
    top: -1px;
    right: 0;
    bottom: -1px;
    left: -2px;
    background: rgb(102, 239, 255);
    @include linear-gradient(to top, rgb(0, 173, 194) 0%,
            rgb(213, 253, 255) 35%, rgb(102, 239, 255) 100%);
    @include box-shadow(0 0 5px 1px rgba(53, 243, 255, 0.5));
  }
  .error {
    @include border-box();
    padding-right: 30px;
    width: $input-container-w;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    color: $orange;
    bottom: -18px;
    left: 1px;
    font-size: 10px;
  }
}

%popup-form-bg {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid $border-form;
}

.modal-form {
  @include border-box();
  width: $registration-form-width;
  position: relative;
  padding: 35px 0;
  margin: 0 auto;
  background: url("../images/diagonal-35.png") repeat 0 0;
  .second-bg {
    @extend %popup-form-bg;
    @include linear-gradient(to right, rgba(0, 125, 152, 0) 0%, rgba(0, 125, 152, 0.03) 30%,
            rgba(0, 125, 152, 0.03) 71%, rgba(0, 125, 152, 0) 100%);
  }
  .bg {
    @extend %popup-form-bg;
    background: rgba(#000, .35);
  }
  .btn {
    margin-bottom: 0;
  }
}

.registration-form {
  height: $registration-form-height;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -1/2 * $registration-form-height;
  margin-left: -1/2 * $registration-form-width;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px $form-field-bg inset;
  color: $light-gray !important;
  -webkit-text-fill-color: $light-gray !important;
}
/*
input:-webkit-autofill {
:-webkit-text-fill-color: $light-gray !important;
*/