button {
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-width: 0;
  background: 0; }

input:focus {
  outline-width: 0; }

input {
  outline: 0;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

h1, footer h2, .users-table thead th:first-child .user-info, .users-table tbody tr td:first-child .user-info, .users-table thead th:nth-child(2) .user-info, .users-table tbody tr td:nth-child(2) .user-info {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

input[type=submit] {
  border: 0; }

* {
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  color: white;
  width: 100%;
  background: transparent url(../images/bg.jpg) 0 0 repeat;
  min-width: 1100px;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden; }

header {
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 10px; }

h1 {
  margin: 0 !important;
  font-size: 30px !important;
  font-weight: 300;
  color: #00f4fd;
  text-transform: uppercase; }

h2 {
  margin: 0 !important; }

.window-overlay {
  z-index: 50;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #272430;
  background: rgba(39, 36, 48, 0.6); }
  .window-overlay.active {
    display: block; }

.layout-center-wrapper {
  width: 1100px;
  margin: 0 auto; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  width: 100%;
  height: 50px;
  min-width: 1100px; }
  footer h2 {
    font-size: 14px;
    font-weight: 300;
    color: #00fe48;
    text-transform: uppercase; }
  footer.fixed {
    position: fixed;
    bottom: 0; }

.blur {
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur'><feGaussianBlur stdDeviation='5' /></filter></svg>#blur");
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5'); }

.error-section {
  position: fixed;
  width: 305px;
  height: 190px;
  top: 50%;
  left: 50%;
  margin-left: -152.5px;
  margin-top: -95px; }
  .error-section .error-logo {
    background: transparent url(../images/error-404.png) 0 0 no-repeat;
    width: 305px;
    height: 150px; }
  .error-section .btn {
    margin-top: 10px; }

.btn {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  position: relative;
  z-index: 4;
  height: 30px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 20px;
  color: white;
  -webkit-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.46);
  -moz-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.46);
  -o-text-shadow: 0 2px 0 rgba(0, 0, 0, 0.46);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.46);
  background: #eeb939;
  -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5), inset 0 -8px 13px rgba(255, 255, 255, 0.37), inset 0 0 5px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5), inset 0 -8px 13px rgba(255, 255, 255, 0.37), inset 0 0 5px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5), inset 0 -8px 13px rgba(255, 255, 255, 0.37), inset 0 0 5px rgba(255, 255, 255, 0.3);
  background: -moz-linear-gradient(#eeb939, #e89b24 50%, #eaa445);
  background: -webkit-linear-gradient(#eeb939, #e89b24 50%, #eaa445);
  background: -o-linear-gradient(#eeb939, #e89b24 50%, #eaa445);
  background: -ms-linear-gradient(#eeb939, #e89b24 50%, #eaa445);
  background: linear-gradient(#eeb939, #e89b24 50%, #eaa445);
  -pie-background: linear-gradient(#eeb939, #e89b24 50%, #eaa445);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .btn:hover {
    -webkit-box-shadow: 0 0 10px 5px #ebc52c, inset 0 -8px 13px rgba(255, 255, 255, 0.37), inset 0 0 5px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 0 10px 5px #ebc52c, inset 0 -8px 13px rgba(255, 255, 255, 0.37), inset 0 0 5px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 5px #ebc52c, inset 0 -8px 13px rgba(255, 255, 255, 0.37), inset 0 0 5px rgba(255, 255, 255, 0.3); }
  .btn.to-main {
    margin-bottom: 100px; }

nav {
  margin-top: 10px;
  display: table;
  width: 100%; }

.main-auth-menu {
  display: table;
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold; }
  .main-auth-menu li {
    width: 50%;
    height: 50px;
    display: table-cell;
    background: #000;
    background: rgba(0, 0, 0, 0.55); }
    .main-auth-menu li a {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 35px;
      line-height: 34px;
      border: 1px solid transparent;
      display: inline-block;
      padding-left: 4px;
      padding-right: 8px;
      vertical-align: top;
      margin-top: 7.5px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #d5fcff; }

input.form-field {
  width: 313px;
  height: 37px;
  margin: 1px auto 0;
  background: #171a1d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 38px;
  color: #afafaf;
  font-weight: 300;
  font-size: 12px;
  line-height: normal;
  position: relative;
  z-index: 2;
  padding: 0 30px 0 10px;
  letter-spacing: 0.5px; }
  input.form-field :-webkit-input-placeholder {
    color: #afafaf; }
  input.form-field :-moz-placeholder {
    color: #afafaf; }
  input.form-field :-ms-input-placeholder {
    color: #afafaf; }

.input-container {
  margin: 0 auto 30px;
  position: relative;
  width: 315px;
  height: 39px;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .input-container:after {
    position: absolute;
    content: "";
    top: -1px;
    right: 0;
    bottom: -1px;
    left: -2px;
    background: #66efff;
    background: -moz-linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    background: -webkit-linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    background: -o-linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    background: -ms-linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    background: linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    -pie-background: linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    -webkit-box-shadow: 0 0 5px 1px rgba(53, 243, 255, 0.5);
    -moz-box-shadow: 0 0 5px 1px rgba(53, 243, 255, 0.5);
    box-shadow: 0 0 5px 1px rgba(53, 243, 255, 0.5); }
  .input-container .error {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
    width: 315px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    color: #ff5400;
    bottom: -18px;
    left: 1px;
    font-size: 10px; }

.modal-form .second-bg, .modal-form .bg {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid #1d7279; }

.modal-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 500px;
  padding: 35px 0;
  margin: 0 auto;
  background: url("../images/diagonal-35.png") repeat 0 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px; }
  .modal-form .second-bg {
    background: -moz-linear-gradient(to right, rgba(0, 125, 152, 0) 0%, rgba(0, 125, 152, 0.03) 30%, rgba(0, 125, 152, 0.03) 71%, rgba(0, 125, 152, 0) 100%);
    background: -webkit-linear-gradient(to right, rgba(0, 125, 152, 0) 0%, rgba(0, 125, 152, 0.03) 30%, rgba(0, 125, 152, 0.03) 71%, rgba(0, 125, 152, 0) 100%);
    background: -o-linear-gradient(to right, rgba(0, 125, 152, 0) 0%, rgba(0, 125, 152, 0.03) 30%, rgba(0, 125, 152, 0.03) 71%, rgba(0, 125, 152, 0) 100%);
    background: -ms-linear-gradient(to right, rgba(0, 125, 152, 0) 0%, rgba(0, 125, 152, 0.03) 30%, rgba(0, 125, 152, 0.03) 71%, rgba(0, 125, 152, 0) 100%);
    background: linear-gradient(to right, rgba(0, 125, 152, 0) 0%, rgba(0, 125, 152, 0.03) 30%, rgba(0, 125, 152, 0.03) 71%, rgba(0, 125, 152, 0) 100%);
    -pie-background: linear-gradient(to right, rgba(0, 125, 152, 0) 0%, rgba(0, 125, 152, 0.03) 30%, rgba(0, 125, 152, 0.03) 71%, rgba(0, 125, 152, 0) 100%); }
  .modal-form .bg {
    background: rgba(0, 0, 0, 0.35); }
  .modal-form .btn {
    margin-bottom: 0; }
  .modal-form p {
    margin: 0 10px;
    display: inline-block; }

.registration-form {
  height: 376px;
  margin-top: -188px; }

.login-form {
  height: 238px;
  margin-top: -119px; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #171a1d inset;
  color: #afafaf !important;
  -webkit-text-fill-color: #afafaf !important; }

.link {
  color: #00fe48;
  font-size: 12px;
  display: block;
  text-decoration: none;
  text-transform: uppercase; }

.auth-user {
  height: 50px;
  line-height: 50px; }
  .auth-user .link {
    float: right; }

.users {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  background: #000;
  background: rgba(0, 0, 0, 0.55);
  color: #d5fcff; }
  .users .heading {
    display: inline-block; }
  .users .link {
    position: absolute;
    right: 20px;
    top: 0; }

.users-table {
  border: 1px solid #00f4fd;
  border: 1px solid rgba(0, 244, 253, 0.25);
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 1.732px 4px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -1px 1.732px 4px 0px rgba(0, 0, 0, 0.41);
  box-shadow: -1px 1.732px 4px 0px rgba(0, 0, 0, 0.41);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.users-table thead th:first-child, .users-table tbody tr td:first-child {
  width: 300px; }
  .users-table thead th:first-child .user-info, .users-table tbody tr td:first-child .user-info {
    max-width: 210px; }
.users-table thead th:nth-child(2), .users-table tbody tr td:nth-child(2) {
  width: 500px; }
  .users-table thead th:nth-child(2) .user-info, .users-table tbody tr td:nth-child(2) .user-info {
    max-width: 350px; }
.users-table thead th:nth-child(3), .users-table tbody tr td:nth-child(3) {
  width: 150px; }
.users-table thead th:last-child, .users-table tbody tr td:last-child {
  width: 150px; }

.users-table {
  width: 100%;
  border: 0;
  display: block;
  color: white;
  font-weight: 600;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase; }
  .users-table thead {
    font-size: 14px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 244, 253, 0.5), inset 0 0 5px 1px rgba(0, 244, 253, 0.5);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 244, 253, 0.5), inset 0 0 5px 1px rgba(0, 244, 253, 0.5);
    box-shadow: 0 0 5px 1px rgba(0, 244, 253, 0.5), inset 0 0 5px 1px rgba(0, 244, 253, 0.5);
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    -webkit-border-image: -webkit-linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    border-image: linear-gradient(to top, #00adc2 0%, #d5fdff 35%, #66efff 100%);
    border-image-slice: 1;
    display: block;
    text-transform: uppercase;
    color: #00f4fd; }
    .users-table thead th {
      border-right: 1px solid #00f4fd;
      border-right: 1px solid rgba(0, 244, 253, 0.25); }
      .users-table thead th:last-child {
        border-right: 0; }
  .users-table tbody tr:nth-child(even) {
    background: url("../images/lines-25-290x30.png") repeat-x 0 0; }
  .users-table tbody tr td {
    border-left: 1px solid #00f4fd;
    border-left: 1px solid rgba(0, 244, 253, 0.25);
    border-right: 1px solid #00f4fd;
    border-right: 1px solid rgba(0, 244, 253, 0.25); }
  .users-table tbody:last-child {
    border-bottom: 1px solid #00f4fd;
    border-bottom: 1px solid rgba(0, 244, 253, 0.25); }
  .users-table thead tr {
    height: 40px;
    line-height: 40px; }
  .users-table tr {
    height: 35px; }
    .users-table tr.current-user {
      color: #ff5400; }
    .users-table tr .user-info {
      line-height: 35px; }
  .users-table .edit {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: transparent url(../images/editsvg.png) 0 0 no-repeat; }
  .users-table .delete {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: transparent url(../images/icon_delete.png) 0 0 no-repeat; }

.pagination {
  list-style: none;
  display: inline-block;
  margin: 10px 0; }
  .pagination li {
    border: 1px solid #00f4fd;
    border: 1px solid rgba(0, 244, 253, 0.25);
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #00f4fd;
    background: #000;
    background: rgba(0, 0, 0, 0.25); }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li a {
      text-decoration: none;
      color: #00f4fd; }
    .pagination li.active {
      color: #00fe48; }
    .pagination li.disabled {
      color: #afafaf; }

.user-content {
  display: inline-block;
  position: relative;
  top: 4px; }
  .user-content .user-info {
    float: left;
    margin-right: 20px; }
  .user-content .edit {
    display: block;
    float: right; }

.edit-name-form,
.edit-email-form {
  height: 240px;
  margin-top: -120px; }

.change-password-form {
  height: 307px;
  margin-top: -153.5px; }

.alert {
  margin-bottom: 10px;
  color: #ff5400; }

.delete-user-form {
  height: 169px;
  margin-top: -84.5px; }
