button {
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-width: 0;
  background: 0;
}

input:focus {
  outline-width: 0;
}

input {
  outline: 0;
  outline-width: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@import "partials/base-declaration";
@import "partials/base";